@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --main-text: white;
  --color-titles: #303030;

  --info-overlay: 255, 255, 255;

  --bg-desktop: url('./assets/desktop/bg-image-daytime.jpg');
  --bg-tablet: url('./assets/tablet/bg-image-daytime.jpg');
  --bg-mobile: url('./assets/mobile/bg-image-daytime.jpg');
}

[data-theme='night'] {
  --color-titles: white;

  --info-overlay: 0, 0, 0;

  --bg-desktop: url('./assets/desktop/bg-image-nighttime.jpg');
  --bg-tablet: url('./assets/tablet/bg-image-nighttime.jpg');
  --bg-mobile: url('./assets/mobile/bg-image-nighttime.jpg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.5s; */
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-text);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
#root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: cover;
}

#root::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.5);
  z-index: 1;
}

.main {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 26px;
  padding-top: 32px;
}

.quote-container {
  max-width: 282px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 227px;
}

.button {
  position: absolute;
  top: 0;
  right: -40px;
  cursor: pointer;
}

.quote {
  font-size: 12px;
  line-height: 22px;
}

.author {
  font-weight: 700;
  font-size: 12px;
}

.time-range {
  display: flex;
  align-items: center;
  gap: 20px;
}

.time-range span {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 25px;
}
.time {
  font-size: 100px;
  display: flex;
  align-items: baseline;
  font-weight: 700;
}

.time span {
  font-size: 15px;
  font-weight: 400;
}

.location {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.more {
  display: flex;
  padding: 13px 8px 12px 17px;
  background-color: white;
  width: 115px;
  height: 39px;
  color: black;
  border-radius: 28px;
  align-items: center;
  justify-content: space-between;
}

.more .text {
  color: #000;
  font-size: 12px;
  letter-spacing: 3.75px;
  line-height: 14px;
  font-weight: 700;
  opacity: 0.5;
}

.circle {
  width: 32px;
  height: 32px;
  background-color: #303030;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background: #999;
}

.circle.expanded {
  transform: rotate(180deg);
}

.info-container {
  width: 100%;
  height: 256px;
  background-color: rgba(var(--info-overlay), 0.75);
  z-index: 1;
  left: 0;
  bottom: 0;
  position: absolute;
  justify-content: center;
  padding: 48px 26px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 5;
  justify-content: space-between;
  width: 100%;
}

.stats-item {
  display: flex;
  align-items: center;
  color: var(--color-titles);
  justify-content: space-between;
}

.stats-item p {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
}

.stats-item span {
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  #root {
    background-image: var(--bg-tablet);
    background-position: center;
  }
  .main {
    padding-top: 80px;
    padding-left: 64px;
  }

  .quote-container {
    gap: 13px;
    margin-bottom: 388px;
  }

  .quote {
    font-size: 18px;
    width: 540px;
  }
  .author {
    font-size: 18px;
  }

  .button {
    right: -102%;
    top: -3%;
  }

  .time {
    font-size: 175px;
  }

  .time-range p {
    font-size: 18px;
  }
  .location {
    font-size: 18px;
  }

  .more {
    width: 140px;
    height: 52px;
    padding: 15px 13px 12px 21px;
  }

  .info-container {
    bottom: 0;
    height: 440px;
    padding: 119px 120px 150px 60px;
  }

  .stats {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 100px;
  }

  .stats-item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
  }

  .stats-item p {
    font-size: 13px;
  }

  .stats-item span {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  #root {
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }

  .main {
    padding-left: 165px;
    padding-top: 65px;
    padding-right: 165px;
  }

  .time-container {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
  }

  .time-range p {
    font-size: 20px;
  }

  .time {
    font-size: 200px;
  }

  .time span {
    font-size: 40px;
  }

  .info-container {
    height: 400px;
    padding: 75px 430px 75px 120px;
  }

  .stats {
    justify-content: space-between;
    gap: 44px 40px;
    align-items: center;
    width: 844px;
    flex-direction: row;
    margin-left: 25px;
  }
  .stats-item {
    justify-content: center;

    width: 300px;
  }
  .stats-item p {
    font-size: 15px;
  }

  .stats-item span {
    font-size: 56px;
  }
}
